# Introduction


This Notebook is the simplest example for how to run one single piece of code in Python for the course. Edit someting.

In [1]:
#This is the simplest of the codes for Python

txt="Python is great!"
txt2=" The editor of this code is Salman Baig"
print('\n Hello world! '+txt+txt2)

 Hello world! Python is great! The editor of this code is Salman Baig

We just ran our first Python code on a notebook!

Test your knowledge:

* Execute 3 of the code examples in the tutorial and add some Markdown cells
- List heading
 - one
 - two

In [8]:
txt="Python is great!"
txt2=" The editor of this code is Salman Baig"
print('\n Hello world! '+txt+txt2)

 Hello world! Python is great! The editor of this code is Salman Baig

# Salman Baig
Student ID-0660467

In [17]:
#This is my first code on Jupyter Notebook.

txt=" My name is Salman!"
txt2=" I am from Pakistan and taking MSc Electrical from Lakehead university Canada"
txt3=" and today I am running my first python code."
print('\n Hello Class!' +txt+txt2+txt3)

 Hello Class! My name is Salman! I am from Pakistan and taking MSc Electrical from Lakehead university Canada and today I am running my first python code.

The above code show my Bio data and contains information about my first coding.

In [18]:
#Work Experience

txt= " I have three years of experience in telecommunication"
txt2=" as I served a reputed celluar company of Pakistan."
print('\n Friends!!' +txt+txt2)

 Friends!! I have three years of experience in telecommunication as I served a reputed celluar company of Pakistan.

The above code shows my work experience.